body {
    background-color: #79a66c;
    font-family: "Courier New";
}

nav {
    border: solid black 2px;
    background-color: #fff9cc ;
    float: left;
    padding: 0.3%; 
    width: 13%;
    color: #cdd3ff;
}
	nav ul {
		padding-left: 0px;
	}
	nav h1 {
		color: #333540;
		font-size: 1.6em;
		font-variant: normal;
	}
	nav h3 {
		text-align: center ;
	}
	nav a, footer a {
		color: black;
		text-decoration: none;
	}
main {
    margin-left: 11.7%;
}
footer {
	border: solid black 2px;
	background-color: #fff9cc;
	clear: left;
	margin: 5%;
	margin-top: 2%;
	margin-left: 30%;
	width: 40%;
}
	footer h4 {
		width: 100%;
		margin: 0px;
		text-align: center;
	}
	footer p {
		margin-bottom: 0px;
		text-align: center ;
	}
article {
     border: solid black 2px;
     background-color:  #fff9cc;
     margin-bottom: 1%;
     margin-right: 10%;
     margin-left: 10%;
     padding: 1%;
     width: 66%;
	 text-align: justify;
	 text-justify: auto;
}
h1, h2, h3, h4 {
    text-decoration: underline;
}
h1 {
    text-decoration: underline;
    font-variant: small-caps;
    text-align: center;
}
h2 {
    color: #676a80;
    text-align: center;
    font-variant: small-caps;
}
h3 {
    color:#9a9ebf;
}
ul {
    list-style-type: none;
    margin: 0;
}
a:hover {
    text-decoration: underline;
    color: grey;
}
.button {
	margin-left: 12%;
}
.conteneur {
	display: flex;
	justify-content: space-around;
}
.identite {
    text-align: center;
    width: 50%;
    margin-left: 17%;
}
	.identite table {
		text-align: justify;
		text-justify: auto;
		width: 90%;
	}
	.identite td {
		width: 15%;
		padding: 1%;
		border-bottom: 1px solid #DFDBBA;
	}
	.identite a:visited {
		color: blue;
		text-decoration: underline;
	}
.msg {
	width: 33%;
	padding: 0;
}
	.msg h3 {
		background-color: white;
		width: 99%;
		text-align: left;
		text-decoration: none;
		margin: 0 0 2% 0;
		padding: 0 0 0 1%;
	}
	.msg p {
		margin: 0 3% 3% 3%;
	}
 .rep
{
	font-weight: bold;
	text-align: center;
}
.textTheatre p
{
	text-align: center;
}
.video {
    margin-right: 13%;
    text-align: center;
	margin-bottom: 0px;
}
/* #########################FORMULAIRES######################### */

input[type=text], input[type=date], input[type=number], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
	width: 100%;
	height: 150px;
	margin: 8px 0;
	box-sizing: border-box;
	padding: 12px 20px;
	border: 1px #cccccc solid;
	border-radius: 4px;
	resize: none;
}
	input:focus, textarea:focus {
		border: 2px #aaaaaa inset;
	}
input[type=submit], input[type=button] {
	width: 100%;
	color: white;
	border: none;
	background-color: #373073;
	margin: 4px 2px;
	cursor: pointer;
	padding: 16px 32px;
}
	input[type=submit]:hover, input[type=button]:hover {
		background-color: black;
	}