body {
	background-color: #191919;
	color: #E5DDC3;
	margin: 0px;
	font-family: "Verdana", sans-serif;
	padding: 0;
}
a {
	color: #ffcc80;
	text-decoration: underline;
}
	a:hover {
		color: #ffff80;
	}
	a:visited {
		color: LighGrey;
	}
blockquote {
	background: #090909;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-style: italic;
	font-size: 0.95em;
	color: #d9cda6;
}
em {
	font-family: "Courier";
	color: LightGrey;
}
em b {
	font-weight: bold;
	color: #E5DDC3;
}
header {
	margin-bottom: 10px;
	position: sticky;
	z-index: 1000;
	top: 0;
	transition: top 0.3s;
}
	header img {
	width: 100%;
	}
	header h1 {
		display: none;
	}
	header a {
		text-decoration: none;
	}
nav {
	background-color: black;
	overflow: hidden;
	margin-top: 0;
}
nav a {
	float: left;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 17px;
	color: white;
}
nav a:hover {
	background-color: #E5DDC3;
	color: black;
	text-decoration: underline;
}
hr {
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
}
section {
	position: relative;
	margin-bottom: 30px;
}
article {
	width: 40%;
	margin: auto;
	text-align: justify;
	font-size: 1.2em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	z-index: 10;
	position: relative;
}
	article p {
		line-height: 1.5;
	}
img {
	vertical-align: top;
}
h2 {
	color: white;
	font-family: "Georgia", serif;
	text-align: center;
	}
h3,h4,h5,h6 {
	color: white;
	font-family: "Arial Black", sans-serif;
}
strong {
	color: white;
}

footer {
	width: 60%;
	border-top: double 3px white;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}
		footer em {
			font-family: Verdana, sans-serif;
			color: #E5DDC3;
		}
/*FORMULAIRES */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
nav input[type="text"] {
	float: left; 
	padding: 6px; 
	border: none; 
	margin-top: 8px;
	margin-left: 16px; 
	font-size: 17px;
	width: auto;
}
textarea {
	width: 100%;
	height: 150px;
	margin: 8px 0;
	box-sizing: border-box;
	padding: 12px 20px;
	border: 1px #cccccc solid;
	border-radius: 4px;
	resize: none;
}
	input:focus, textarea:focus {
		border: 2px #aaaaaa inset;
	}
input[type=submit] {
	width: 100%;
	color: black;
	border: none;
	background-color: #E5DDC3;
	margin: 4px 2px;
	cursor: pointer;
	padding: 16px 32px;
	transition: background-color 0.8s;
}
	input[type=submit]:hover {
		background-color: #65e765;
	}
	h2 input[type="submit"] {
		width: 15%;
		border-radius: 25px;
		padding: 8px;
		font-size: 1.3em;
	}
form {
	width: 40%;
	margin: auto;
	margin-top: 10px;
}
fieldset {
	border: none;
}
legend {
	font-size: 1.5em;
	font-family: "Arial Black";
	color: white;
}
select {
	display: block;
	margin: auto;
	font-size: 1.3em;
	text-align: center;
	padding: 2px;
	border-radius: 5px;
}
/* CLASSES */

.card {
	display: block;
	text-decoration: none;
	width: 40%;
	background-color: white;
	padding: 5px;
	padding-bottom: 10px;
	border: 3px solid #E5DDC3;
	border-radius: 10px;
	margin: 50px;
	box-shadow: none;
	position: relative;
}
	.card img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		filter: grayscale(80%);
		border-bottom: solid 1px black;
	}
	.card .btn {
		width: 100px;
		height: 30px;
		padding: 2px;
		background-color: #f2f2f2;
		color: DarkGrey;
		cursor: pointer;
		border: none;
		font-size: 1.3em;
		border-radius: 4px;
		position: absolute;
		bottom: 5px;
	}
	.card .bottom {
		height: 30px;
		width: 100px;
		margin: auto;
	}
	.card p {
		color: grey;
		font-size: 0.8em;
		text-align: center;
		padding: 0;
	}
		.card:hover p, .card:hover h3, .mini-card h3 {
			color: black;
		}
		.card:hover .btn {
			color: black;
			background-color: #E5DDC3;
		}
		.card:hover .btn:hover {
			background-color: LightGreen;
		}
.card-content {
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}
.mini-card {
	display: block;
	text-decoration: none;
	width: 21%;
	background-color: white;
	padding: 5px;
	padding-bottom: 10px;
	border: 3px solid #E5DDC3;
	border-radius: 10px;
	margin: 50px;
	box-shadow: none;
}
	.mini-card img {
		width: 100%;
		height: 250px;
		object-fit: cover;
		filter: grayscale(80%);
	}
	.mini-card h3 {
		font-size: 1em;
	}
	.card:hover, .mini-card:hover{
		box-shadow: 0px 0px 10px 5px #E5DDC3;
	}
		.card:hover img, .mini-card:hover img {
			filter: none;
		}
.card h3, .mini-card h3 {
	font-variant: small-caps;
	margin: auto;
	padding-top: 3%;
	color: grey;
	text-align: center;
}
.comment-box {
	display: block;
	width: 40%;
	margin: auto;
	border-bottom: 2px dotted white;
}
.comment-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
}
.last {
	width: 66%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 25px;
	padding: 10px;
	padding-bottom: 30px;
	overflow: hidden;
	border-bottom: 1px dashed white;
}
	.last img {
		max-height: 500px;
		float: left;
		margin-right: 3%;
		object-fit: cover;
		padding-right: 5%;
		border-right: 1px solid LightGrey;
	}
	.last h2 {
		font-size: 3em;
		text-align: center;
	}
	.last h2:before {
		content: "Dernière publication : ";
	}
	.last h3 {
		text-decoration: underline;
	}
#menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
	clear: both;
	width: 80%;
	margin: auto;
}
.pdf {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: silver;
	color: black;
	font-size: 0.8em;
	border: 1px solid red;
	padding: 5px;
}
.pdf a {
	color: white;
}
.pdf a:hover {
	color: red;
}
.post_card {
	position: relative;
	margin-bottom: 10px;
}
	.post_card img {
		margin: auto;
		width: 100%;
		max-height: 800px;
		object-fit: cover;
		opacity: 0.5;
	}
	.post_card .title {
	  position: absolute;
	  top: 43.5%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	.post_card h2, .post_card p, .post_card em {
		text-shadow: 10px 10px 20px black;
		text-align: center;
		font-weight: bold;
		color: white;
		font-family: "Georgia";
	}
	.post_card h2 {
		font-size: 5.2em;
		text-align: center;
	}
	.post_card p {
		font-size: 2.3em;
		text-align: center;
	}
.see_more {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 80%;
	margin: auto;
	}
.tag {
	border-radius: 25px;
	background-color: #e0d2aa;
	color: black;
	padding: 8px;
	font-weight: bold;
	text-decoration: none;
}
.tag-container {
line-height: 3;
}
.text-center {
	text-align: center;
}
	
/*######MEDIA QUERIES######*/
	
@media only screen and (hover) {
	.card, .mini-card {
		transition: box-shadow 0.4s;
	}
		.card img,.mini-card img {
			transition: filter 0.8s;
		}
		.card h3, .mini-card h3, .card p, .card ol {
			transition: color 0.8s;
		}
		.card .btn {
			transition: color 0.8s, background-color 0.8s;
		}
}
@media screen and (max-width: 1600px) {
	hr {
		width: 50%;
	}
	.card {
		width: 42.5%;
	}
	 #menu {
		 width: 85%;
	 }
	 .see_more {
		 width: 85%;
	 }
	  .last {
		  text-align: center;
	  }
		.last h2 {
		font-size: 2.5em;
	}
		.last img {
			float: none;
			margin: 0;
			max-height: 400px;
			padding: auto;
			border: none;
		}
	article, .comment-box, form {
		width: 50%;
	}
		.post_card h2 {
		font-size: 5.2em;
		}
		.post_card p {
		font-size: 2.3em;
		}
		nav input[type="text"] {
			float: none;
		}
}
@media screen and (max-width: 1200px) {
	hr {
		width: 60%;
	}
	 #menu {
		 width: 90%;
	 }
	 .see_more {
		 width: 90%;
	 }
	.card {
		  width: 45%;
	  }
	  .last {
		  text-align: center;
	  }
		.last h2 {
		font-size: 2em;
	}
		.last img {
			float: none;
			margin: 0;
			max-height: 300px;
		}
	article, .comment-box, form {
		width: 60%;
	}
		.post_card h2 {
		font-size: 4.3em;
		}
		.post_card p {
		font-size: 1.8em;
		}
		nav input[type="text"] {
			float: none;
		}
}
@media screen and (max-width: 992px) {
	hr {
		width: 80%;
	}
	 #menu {
		 width: 95%;
	 }
	 .see_more {
		 flex-wrap: wrap;
	 }
	.card, .mini-card {
		  width: 80%;
		  flex-grow: 1;
	  }
	  .last {
		  text-align: center;
	  }
		.last h2 {
		font-size: 2em;
	}
		.card img {
		  height: 300px;
		}
		.mini-card img {
			height: 200px;
		}
		.last img {
			float: none;
			margin: 0;
			max-height: 300px;
		}
	article, .comment-box, form {
		width: 80%;
	}
		.post_card h2 {
		font-size: 2em;
		}
		.post_card p {
		font-size: 1.1em;
		}
		.post_card img {
			max-height: 400px;
		}
		nav input[type="text"] {
			float: none;
		}
		h2 input[type="submit"] {
		width: 25%;
	}
}
@media screen and (max-width: 600px) {
	header {
		background-color: black;
	}
		header img {
			display: none;
		}
			header a h1 {
				display: block;
				color: white;
				font-size: 2.8em;
				text-align: center;
				margin-top: 0;
			}
	article, .comment-box, form {
		width: 90%;
	}
	#menu {
		width: 100%;
	}
	.see_more {
		width: 100%;
	}
	.card, .mini-card {
		  width: auto;
	  }
	  .card img {
		  height: 150px;
	  }
	  .mini-card img {
		  height: 100px;
	  }
	.post_card h2 {
	font-size: 1.3em;
	}
	.post_card p {
	font-size: 0.7em;
	}
	.last img {
		float: none;
		margin: 0;
		max-height: 200px;
	}
	h2 input[type="submit"] {
		width: 30%;
		font-size: 1.1em;
	}
}